@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  margin: 0px 2px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li > a {
  text-decoration: none;
  color: #666667;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.right-links,
.left-links {
  display: flex;
  gap: 16px;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input,
.buttons {
  display: flex;
  justify-content: center;
}