body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 24px;  
  color: white;
}

li {
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px; 
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 300px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}

.content {
  display: flex;
  flex: 1;
}

/*
Matching things:
Set the body's display to flex.
Set the body's flex-direction to column.
Set the header's display to flex.
Set the header's align-items to center.
Set the header's font size to 32px.
Set the header's font weight to 900.
Set the "content"'s display to flex.
Set the "content"'s flex to 1.
Set the sidebar's padding to 16px.
Set the sidebar's flex-shrink to 0.
Set the li's margin-bottom to 16px.
Set the a's color to white.
Set the a's text-decoration to none.
Set the a's font-size to 24px.
Set the "cards" padding to 48px.
Set the "cards" display to flex.
Set the "cards" flex-wrap to wrap.
Set the "cards" gap to 32px.
Set the footer's display to flex.
Set the footer's align-items to center.
Set the footer's justify-content to center.


Different things:
They set the header's padding using "padding: 0 16px;" while I did "padding-left: 16px;"
  They almost do the same thing, so IMO they are equal in terms are use.

Their html class "body" is my html class "content"
  This is a difference in naming. So IMO at this point it doesn't matter.

They set the ul's margin and padding to 0, while I set it to 0px.
  That is a very slight difference and IMO it doesn't matter.

Their html class "container" is my html class "cards"
  This is a difference in naming. So IMO at this point it doesn't matter.
  
They set the card's width to 300px. While I set the card's max and min width to 300px.
  Functionally I see no difference. But IMO their way is better as setting both the max and the min width to the same number makes less sense then setting the width.

Other notes and changes:
While comparing solutions I realized that having `display: flex` set on the sidebar at line 51 was unneeded. So I removed it.
I realized while comparing solutions I realized that having the max and min width of the card's set the same is a stupid thing to do. So I change to their solution of just setting the width. 
*/