body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 24px;  
  color: white;
}

li {
  margin-bottom: 8px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px; 
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
  display: flex;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 30px;
  max-width: 300px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}

.content {
  display: flex;
  flex: 1;
}